# It might be of interest to ignore c++ compiler and cmake specific files
# but assuming everything is quarantined to /build then...

build/
[Bb][Uu][Ii][Ll][Dd]/

# can we add a readme in /extern that explains the dependancies but .gitignore them for space?
external/*
!external/CMakeLists.txt

.vscode